body{
    background-image: url(candy.jpg);
    height: auto;
    width: auto;
}
#container{
    height: 800px;
    width: auto;
}
header{
    text-align: center;
    height: auto;
    width: auto;
    color: #8cc6c1;
}
nav{
    text-align: center;
}
li{
    display: inline;
}
p{
    width: 550px;
    height: 550px;
    text-align: center;
    color: #e971a2;
    font-style: italic;
}
a{
    color: #8cc6c1;
}