body{
    background-image: url(candy-background.gif);
}
#container{
    width: auto;
    height: auto;
}
header{
    width:auto;
    height: 15px;
    text-align: center;
}
nav{
    color: #e971a2;
    text-align: center;
}
li{
    display: inline;
}
