body{
    background-image: url(Rainbow-Candy-HD-Wallpaper.jpg);
}
#container{
    width: auto;
    height:auto;

}
header{
    height: 43px;

}
div.ryuu{
    text-align: center;
}
div.taro{
    text-align: end;
    width: 1400px;
}
nav{
    height: 20px;
    text-align: center;
}
li{

    display: inline;
}
a{
    color: darkgreen;
}
div.pic1{
    text-align: center;
}
footer{
    height: 55px;

}