body{
    background-image: url(Rainbow-Candy-HD-Wallpaper.jpg);
}
#cantainer{
    height: auto;
    width: auto;
}
header{
    height: auto;
}
div.panda{
    text-align: center;
    color: #dc3fa1;
}
div.red{
    float: right;
}
nav{
    color: #dc3fa1;
    text-align: center;
}
li{
    display: inline;
}
