body{
    background-image: url(Rainbow-Candy-HD-Wallpaper.jpg);
}
#cantainer{
    width: auto;
    height: auto;
}
header{
    height: 45px;
    color: #e971a2;
}
div.mulan{
    text-align: center;
}
div.shan{
    float: right;
}
nav{
    text-align: center;
}
li{
    display: inline;
}
div.ma {
    text-align: center;
}
a{
    color: #e971a2;
}