body{
    background-image: url(candy.jpg);
}
#container{
    height:auto;
    width: auto;
}
header{
    width: auto;
    height: 45px;
}
div.sasuke{
    float: left;
}
nav{
    height: 40px;
    width: auto;
}
li{
    display: inline;
}
div.pics{
    text-align: center;
}
#footer{
    text-align: center;
}
a{
    color: #dc3fa1;
}